{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description"
              content="Access up-to-date infectious disease data and insights with Delphi EpiPortal." />
        <meta name="keywords"
              content="epidemiology, disease tracking, Delphi portal, health analytics, real-time data, public health" />
        <title>Delphi EpiPortal</title>
        <!-- Custom fonts for this template-->
        <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}"
              rel="stylesheet"
              type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet" />
        <!-- Custom styles for this template-->
        <link href="{% static "css/sb-admin-2.min.css" %}" rel="stylesheet" />
        <link href="{% static "css/alternative_interface.css" %}" rel="stylesheet" />
        <!-- Select2 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
              rel="stylesheet" />
        <!-- Data Table -->
        <link rel="stylesheet"
              href="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/cr-2.0.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sp-2.3.3/sl-2.1.0/datatables.min.css">
        <link rel="stylesheet"
              href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css">
    </head>
    <body>
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <a href="{% url 'indicatorsets' %}"
               class="d-flex align-items-center navbar-logo">
                <img src="{% static 'img/CMU-wordmark.svg' %}"
                     alt=""
                     height="74"
                     width="242" />
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="nav-title">Delphi EpiPortal : One Stop Shop for Real Time
                    Infectious Disease Indicators</span>
                    <a tabindex="0"
                       style="margin-left: 10px"
                       type="button"
                       class="info-button filter-description-popover"
                       data-toggle="popover"
                       data-trigger="hover"
                       data-placement="right"
                       data-content="{{ header_description }}"><i class="fas fa-question-circle"></i></a>
                </li>
            </ul>
        </nav>
        <!-- End of Topbar -->
        <div class="image-container">
            <img src="https://delphi.cmu.edu/images/landing-page/hero-images/covidcast_v2_hu_4e165999573787b9.webp"
                 alt="Responsive image"
                 height="100%"
                 width="100%" />
            <div class="overlay-content">
                <div class="overlay-text">
                    <div class="row">Real-time Indicators of Infectious Disease Activity</div>
                    <div class="row" style="font-size: 1.5rem; margin-top: 0.5rem;">EXPLORE. VISUALIZE. DOWNLOAD.</div>
                </div>
                <div class="overlay-form">
                    <div class="row">
                        <form class="w-100">
                            <div class="form-group">
                                <label for="selectPathogen">Select Pathogen(s):</label>
                                <select class="form-select"
                                        multiple="multiple"
                                        name="selectPathogen"
                                        id="selectPathogen"></select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid margin-top-1rem">
            <div class="row table-responsive table-container">
                <table id="indicatorsTable"
                       class="display cell-border table-striped table-bordered"
                       width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Data Source</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Geographic Scope</th>
                            <th class="text-center">Geographic Granularity, aka Geo-Level</th>
                            <th class="text-center">Available Since</th>
                            <th class="text-center">Available Until</th>
                            <th class="text-center">Temporal Granularity</th>
                            <th class="text-center">Reporting Cadence</th>
                            <th class="text-center">Reporting Lag(nominal)</th>
                            <th class="text-center">Revision Cadence</th>
                            <th class="text-center">Demographic Scope</th>
                            <th class="text-center">Pathogen / Syndrome</th>
                            <th class="text-center">Severity Pyramid Rungs</th>
                            <th class="text-center">Missingness</th>
                            <th class="text-center">License / Data Use Restrictions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for indicator in indicators %}
                            <tr data-id="{{ indicator.id }}">
                                <td>{{ indicator.name }}</td>
                                <td>{{ indicator.data_source }}</td>
                                <td>{{ indicator.description }}</td>
                                <td>{{ indicator.geographic_scope }}</td>
                                <td>{{ indicator.geographic_granularity }}</td>
                                <td>{{ indicator.available_since }}</td>
                                <td>{{ indicator.available_until }}</td>
                                <td>{{ indicator.time_type }}</td>
                                <td>{{ indicator.reporting_cadence }}</td>
                                <td>{{ indicator.reporting_lag }}</td>
                                <td>{{ indicator.revision_cadence }}</td>
                                <td>{{ indicator.demographic_scope }}</td>
                                <td>
                                    {% for pathogen in indicator.pathogens.all %}
                                        <span class="badge rounded-pill bg-dark">{{ pathogen }}</span>
                                    {% endfor %}
                                </td>
                                <td>{{ indicator.severity_pyramid_rungs }}</td>
                                <td>{{ indicator.missingness }}</td>
                                <td>{{ indicator.license_data_use_restrictions }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid">
            asdgfasd
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
        <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
        <!-- Core plugin JavaScript-->
        <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
        <!-- Custom scripts for all pages-->
        <script src="{% static "js/sb-admin-2.min.js" %}"></script>
        <!-- Page level plugins -->
        <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>
        <!-- Select2 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/cr-2.0.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sp-2.3.3/sl-2.1.0/datatables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js),datatables.mark.js"></script>
        <script>
            $(function () {
                $('[data-toggle="popover"]').popover()
            });

            var pathogens = {{ pathogens|safe }};

            $(document).ready(function() {
                $('#selectPathogen').select2({
                    data: pathogens,
                    width: "50%",
                    minimumInputLength: 0,
                    maximumSelectionLength: 1,
                });
            });

            function calculate_table_height() {
                var h = Math.max(
                    document.documentElement.clientHeight,
                    window.innerHeight || 0
                );
                var percent = 60;
                if (h > 1000) {
                    percent = 70;
                }
                return (percent * h) / 100;
            }

            var table = new DataTable("#indicatorsTable", {
                fixedHeader: true,
                paging: false,
                scrollCollapse: true,
                scrollX: true,
                scrollY: calculate_table_height() + 75,
                info: false,
                fixedColumns: {
                    left: 2,
                },
                ordering: false,
                mark: true,

                language: {
                    emptyTable: "No indicators match your specified filters.  Try relaxing some filters, or clear all filters and try again.",
                    // buttons: {
                    //     colvis: "Toggle Columns",
                    // },
                },
                search: {
                    smart: true,
                    highlight: true,
                },
                sDom: 'ltipr',
                rowCallback: function(row, data, index) {
                    if (index % 2 === 0) {
                        $(row).addClass('odd-row');
                    }
                }
            });
        </script>
    </body>
</html>
