{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        {% if opts.model_name == "indicatorset" %}
            <a class="button" href="{% url 'admin:import_indicatorsets' %}">
                Import data from spreadsheet
            </a>
            <a class="button" href="{% url 'admin:download_indicator_set' %}">
                Download source file
            </a>
        {% elif opts.model_name == "nondelphiindicatorset" %}
            <a class="button" href="{% url 'admin:import_nondelphi_indicatorsets' %}">
                Import data from spreadsheet
            </a>
            <a class="button" href="{% url 'admin:download_nondelphi_indicator_set' %}">
                Download source file
            </a>
        {% endif %}
    </li>
{% endblock %}